name: test

on:
  push:
  workflow_call:


jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    strategy:
      matrix:
        os: [ubuntu-latest]
        python-version: ['3.10', '3.11']

    steps:
      - name: Check out repo code
        uses: actions/checkout@v4

      - name: Set up Python
        id: setup-python
        uses: actions/setup-python@v5
        with:
          python-version: ${{matrix.python-version}}

      - name: Install Poetry
        run: python -m pip install --no-cache-dir -v "poetry>=1.5,<2.0"

      - name: Load cached venv
        id: cached-poetry-dependencies
        uses: actions/cache@v4
        with:
          path: ./.venv
          key: venv-${{ runner.os }}-${{ steps.setup-python.outputs.python-version }}-${{ hashFiles('**/poetry.lock') }}

      - name: Authenticate to Google Cloud
        if: steps.cached-poetry-dependencies.outputs.cache-hit != 'true'
        uses: google-github-actions/auth@v2
        with:
          credentials_json: '${{ secrets.GCP_CREDENTIALS }}'

      - name: Configure Poetry for Artifact Registry
        if: steps.cached-poetry-dependencies.outputs.cache-hit != 'true'
        run: |
          TOKEN=$(gcloud auth application-default print-access-token)
          poetry config http-basic.skyfi-python oauth2accesstoken "$TOKEN"

      - name: Install dependencies
        if: steps.cached-poetry-dependencies.outputs.cache-hit != 'true'
        run: poetry install --with dev --no-interaction --no-root

      - name: Run linter
        run: poetry run flake8 --exclude .venv

      - name: Run tests
        run: |
          poetry run pytest tests/
